@use "./base.scss";

// put your custom CSS here!
h1 {
  font-family: "Alegreya Sans";
  font-weight: 600;
  font-size: var(--base_size);
  line-height: 1.2em;
  margin: 0; 
  padding: 0; 
}
h2 {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-size: var(--base_size-minus-one);
  line-height: 1.2em;
  margin-top: 0; 
  padding-top: 0; 
  margin-bottom: 0; 
  padding-bottom: 0; 
  color: var(--secondary-color); 
}
p {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: var(--base_size);
  line-height: 1.6em;
  margin: 0; 
}
h1.page-title{
    margin-top: 0; 
    margin-bottom: 0; 
    padding-top: 0;
    padding-bottom: 0;
}

/* links */
a{
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: underline dashed 0.04em;
  text-underline-offset: 0.2em;
}
a:hover, .folder-container div > a:hover {
  text-decoration: none;
  /* color: var(--primary); */
}
a:active, .folder-container div > a:active {
  color: var(--primary-color) !important; 
}
a.active, .folder-container div > a.active {
  text-decoration: none;
  color: var(--primary-color);
}

.explorer{
    padding-top: 0; 
    margin-top: 0; 
}
