@use "./base.scss";

// put your custom CSS here!
h1 {
  font-family: "Alegreya Sans";
  font-weight: 600;
  font-size: var(--base_size);
  line-height: 1.2em;
}
p {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: var(--base_size);
  line-height: 1.6em;
}
h2.page-title{
    margin-top: 0; 
    margin-bottom: 0; 
    padding-top: 0;
    padding-bottom: 0;
}
